@model Sistema.Models.Alumnos

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MateriaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MateriaNavigation.NombreMateria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfesorNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfesorNavigation.Apellido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AlumnoId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
