@model Sistema.Models.Alumnos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MateriaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MateriaNavigation.NombreMateria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfesorNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfesorNavigation.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlumnoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
